body {
  padding: 0;
  text-align: center;
}

body p{
  font-size: 1.5lem;
}

#game-intro {
  padding: 20px 0px;
}

#game-container {
  display: flex;
  width: 100vw;
  padding: 20px 0px;
  justify-content: center;
}

#game-screen {
  display: none;
  align-content: center;
  padding: 0px 0px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/background.png);
  background-repeat: repeat;
}


#game-end {
  display: none;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.game-slot{
  background: rgb(95,6,65);
  background: radial-gradient(circle, rgba(95,6,65,0.8155637254901961) 30%, rgba(95,6,44,1) 90%);

}

.game-slot img {
  width:25px;
  height: 25px;
}

.status-div{
  display: flex;
  align-items: center;
}

#new-level{
  display:block;
  position: absolute;
  left:100px;
  top:40px;
  border: 1px dotted red;
}

#plus-ammunition{
  display:none;
}

#status-div{
  background-color: red;


}